@import '~@angular/material/theming';
.flex {
  display: flex;
}
.flex-direction-column {
  flex-direction: column;
}
.sutify-between {
  justify-content: space-between;
}
.max-width {
  width: 100%;
}
.max-height {
  height: 100%;
}
.padding-top-20 {
  padding-top: 20px;
}
.margin-auto {
  margin: auto;
}
.margin-top-20 {
  margin-top: 20px;
}
.margin-right-20 {
  margin-right: 20px;
}
.accent-green-button {
  background-color: mat-color($candy-app-accent, 600);
  color: white !important;
}
.primary-button {
  background-color: mat-color($candy-app-primary, 600);
  color: white !important;
}
