<div class="container">
  <div class="text-center">
    Выберите задание
  </div>
  <div class="padding-top-20">
    <button mat-raised-button color="primary" class="max-width" (click)="navigateFunctionTo('filter')">Тестовое задание фильтр</button>
  </div>
</div>
