<div class="container" *ngIf="!load">
  <div class="text-center">Список товаров</div>
  <div class="flex">
    <ng-container *ngFor="let filter of filters">
      <div class="margin-right-20">
        <button mat-raised-button
                [matMenuTriggerFor]="menu"
                [ngClass]="{'accent-green-button': filter['selected'], 'primary-button': !filter['selected']}">
          {{filter['name']}}
        </button>
      </div>
      <mat-menu #menu>
        <button mat-menu-item (click)="filterItems(filter['value'], '')">Все</button>
        <ng-container *ngFor="let filter_option of filter['params']">
          <button mat-menu-item
                  (click)="filterItems(filter['value'], filter_option['name'])"
                  [ngClass]="{'accent-green-button': filter_option['selected']}">
            {{filter_option['name']}}
          </button>
        </ng-container>
      </mat-menu>
    </ng-container>
  </div>
  <div class="items-row">
    <ng-container *ngFor="let item of items_to_show">
      <div class="col-3 margin-top-20">
        <mat-card>
          <div class="item-card">
            <mat-card-header>
              <div>{{item['name']}}</div>
            </mat-card-header>
            <img [src]="item['img_link']" class="margin-auto">
          </div>
        </mat-card>
      </div>
    </ng-container>
  </div>
</div>
